.hero-section .info{
    position: absolute;
    bottom: calc(-1*(var(--space)*2 + 5px));
    /* left: calc(var(--space)/2); */
    height: 33%;
    width: 28%;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: brown;
    box-shadow: var(--border-radius) calc(-1*var(--border-radius)) 0 white ;
}

.round-edge{
    border-radius: 50%;
    width: calc(var(--border-radius)*2);
    height: calc(var(--border-radius)*2);
    background-color: transparent;
}
.round-edge-top-left-1{
    position: absolute;
    top: calc(-1 * (var(--border-radius) *3));
    box-shadow: -13px 15px 0 white ;
}
.round-edge-top-left-2{
    position: absolute;
    background-color: transparent;
    top: 0;
    box-shadow: -15px -15px 0 rgb(255, 255, 255) ;
}
