.hero-section {
    --space: 2.5rem;
    width: 100%;
    height: calc(100vh + 60px);
    width: calc(100% - var(--space));
    margin: auto;
    margin-top: calc(var(--space)/2);
    position: relative;
}

.image-section {
    overflow: hidden;
    height: 93vh;
    border-radius: var(--border-radius);
}

.image-section .img_1 {
    position: relative;
    width: 100%;
    object-fit: cover;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    transform: none;
}

.image-section .img_2 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
}

.image-section .text {
    position: absolute;
    bottom: 4.5%;
    right: 5%;
    color: rgb(255, 255, 255);
    display: flex;
    height: min-content;

    * {
        transition: 300ms ease-in-out;
        font-family: "Iceland", sans-serif;
        letter-spacing: normal;
        word-spacing: normal;
        text-shadow: -4px 4px 0 rgb(0, 0, 0);
    }

    h1 {
        padding: 0;
        font-size: 16vw;
        display: flex;
        overflow: hidden;

        span {
            line-height: 100%;
            display: inline-block;
            transition: transform 0.3s ease;
            text-shadow: -4px 4px 0 rgb(0, 0, 0);
        }

        &:hover * {
            transition: 300ms ease-in-out;
            transform: rotate(-15deg) scale(1.2);
            text-shadow: -10px 10px 0 rgb(0, 0, 0);
        }
    }

    p {
        position: relative;
        opacity: 0;
        left: 60px;
        bottom: 35px;
        font-size: 3vw;

        &:hover {
            text-shadow: -8 px 8 px 0 rgb(0, 0, 0);
        }
    }
}