:root {
    --space: 2.5rem;
}

.hero-section {
    width: 100%;
    height: calc(100vh + 60px);
    /* background-color: rgb(243, 184, 184); */
    width: calc(100% - var(--space));
    margin: auto;
    margin-top: calc(var(--space)/2);
}

.hero-section img {
    height: 93vh;
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
    position: relative;
}

.image-section .text {
    position: absolute;
    bottom: 3%;
    right: 5%;
    color: rgb(255, 255, 255);
    display: flex;

    * {
        transition: 300ms ease-in-out;
        font-family: "Iceland", sans-serif;
        letter-spacing: normal;
        word-spacing: normal;
        text-shadow: -4px 4px 0 rgb(0, 0, 0);
    }

    h1 {
        padding: 0;
        height: min-content;
        font-size: 16vw;
        display: flex;

        span {
            display: inline-block;
            transition: transform 0.3s ease;
            text-shadow: -4px 4px 0 rgb(0, 0, 0);
        }

        &:hover * {
            transition: 300ms ease-in-out;
            transform: rotate(-15deg) scale(1.2);
            text-shadow: -10px 10px 0 rgb(0, 0, 0);
        }
    }

    p {
        position: relative;
        opacity: 0;
        left:60px;
        bottom: 35px;
        font-size: 3vw;
        &:hover {
            text-shadow: -8 px 8 px 0 rgb(0, 0, 0);
        }
    }
}