.tech-stack {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;

    div {
        position: absolute;
        /* height: 25vh; */
        aspect-ratio: 231/250;
        width: 13vw;
        border-radius: var(--border-radius);
        margin: 10px;
        background-color: #fdd4d4;
        padding: 1rem;
        text-align: center;

        h3 {
            font-size: 1.63vw;
            font-weight: 900;
            margin-bottom: 5%;
            opacity: 0.5;
            color: brown;
        }
        p{
            font-weight: 900;
            font-size: 1vw;
            margin: 0.3rem 0;
            letter-spacing: 0.7px;
            opacity: 0.6;
            color: rgb(71, 14, 14);
        }
    }

    #backend {
        left: 6%;
        top: 33%;
        rotate: -12deg;
    }

    #frontend {
        left: 25%;
        top: 9.3%;
        rotate: 7deg;
    }

    #tools_tech {
        left: 55%;
        top: 20%;
        rotate: -14deg;
    }

    #datbase {
        left: 14%;
        top: 65%;
        rotate: 14deg;
    }
    
    #languages {
        left: 76%;
        top: 55%;
        rotate: -13deg;
    }
    
    #ui-ux {
        left: 83.5%;
        top: 18%;
        rotate: -4deg;
    }
    #problem-solving {
        left: 55%;
        bottom: 0;
        rotate: 5deg;
    }
}

.tech-stack-small-width{
    display:flex;
    align-items:center;
    /* justify-content:center; */
    /* width:max-content; */
    overflow-y: scroll;
    div{
        flex-shrink: 0;
        width: 150px;
        height: 160px;
        background-color: rgb(255, 211, 211);
        margin: 10px;
        padding: 1rem;
        border-radius: var(--border-radius);
        h3{
            font-size: 1rem;
            margin-bottom: 8px ;
            /* background-color: red; */
        }
        p{
            font-size: 12px;
        }
    }
}

@media (max-width: 768px) {
    .tech-stack {
        display: none;
    }
}
@media (min-width: 769px) {
    .tech-stack-small-width {
        display: none;
    }
}