#about {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 14%;
    gap: 3rem;

    p {
        width: 65%;
        font-size: 1.8vw;
    }

    a {
        height: 9vw;
        width: 9vw;
        display: flex;
        color: black;
        border-bottom: 35px solid #00000048;
        font-size: 2vw;
        font-weight:500;
        align-items: center;
        justify-content: center;
    }
}