#contact .left {
    position: relative;
    & * {
        height: min-content;
        color: rgb(230, 157, 157);
    }

    .mail-no {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 5% 0;
        font-size: 1.3vw;
        font-style: italic;

        p,
        a {
            background-color: #9b4242;
            padding: 1rem 2rem;
            border-radius: 0.7rem;
            transform: skew(10deg);
            color: white;
        }
    }

    .socials {
        display: flex;
        transition: 300ms;
        justify-content: space-between;
        padding: 5% 0;

        a {
            opacity: 70%;
            display: flex;
            align-items: center;
            padding: 10px;
        }

        a:hover {
            opacity: 100%;
            padding: none;
            scale: 110%;
        }

        a img {
            width: 35px;
            height: 35px;
        }
    }

    .copyright{
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        font-size: 1.4rem;
    }

}

@media (max-width: 1024px) {
    #contact div{
        padding: 0 5%;
    }
    #contact .left{
        width: 300px !important;
        flex: 0.6;
    }
    #contact .right{
        flex: 1;
    }
    .copyright{
        font-size: 1rem !important;
    }
    .mail-no {
        margin: 2rem 0 !important;
        flex-direction: column;
        gap: 1.5rem;
        *{
            width: max-content !important;
        }
    }
    .socials {
        width: 100% !important;
    }
}