#contact {
    background-color: #662323;
    width: 100%;
    height: 100svh;
    max-height: 1080px;
    margin: 0;
    box-shadow: 0 -15px #662323;
    display: flex;

    h1 {
        font-family: "Iceland", sans-serif;
        color: rgb(255, 222, 222);
        color: rgb(230, 157, 157);
        line-height: normal;
        font-size: 6vw;
        text-shadow: 0 0 0 black;
        transition: 100ms;
    }
}

#contact div {
    width: 38%;
    height: 80%;
    margin: auto;
}

#contact hr {
    opacity: 0.5;
    margin: 6% 0;
    background-color: rgb(230, 157, 157);
}