.nav-container {
    background: url('/portfolio-nav-bar.svg') no-repeat;
    width: 350px;
    height: 47px;
    top: 2px;
    right: 7%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px 10px 15px;
    z-index: 500;
    a{
        color: rgb(235, 235, 235);
        font-size: large;
    }
}

@media (max-width: 500px){
    .nav-container {
        display: none;
    }
}
