.sidebar-container {
    width: 50px;
    height: 100vh;
    position: relative;
}
.sidebar {
    height: 50px;
    transform-origin: top left;
    transform: rotate(-90deg)translateX(-100%);
    width: 100vh;
    min-width: 525px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    a{
        color: white;
        img{
            height: 1.2rem;
            rotate: 90deg;
        }
    }
}

.sidebar div{
    display: flex;
    gap: 2rem;
}

.sidebar .Get-cv-btn{
    background: url("./src/assets/floating-sidebar.svg");
    width: 225px;
    height: 90%;
    margin-top: 5.5px;
    background-repeat: no-repeat;
    a{
        height: 100%;
        text-align: center;
        margin: 8px 1.5rem 0 1.5rem;
        width: 100%;
        color: black;
        font-size: 1.7rem;
    }
}

@media (max-width: 500px){
    .sidebar-container{
        display: none;
    }
}
@media (max-height: 760px){
    .big-height{
        display: none;
        display: none !important;
    }
}
@media (min-height: 761px){
    .small-height{
        display: none !important;
    }
}