:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --bg-color: #fff;
    --border-radius: 1.2rem;
    --max-width: 1200px;
    --transition-speed: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-family: "Source Code Pro", monospace;
    letter-spacing: -1.3px;
    word-spacing: -3px;
    line-height: 150%;
}

body,
html {
    overflow-x: hidden;
}

body {
    background-color: black;
}

a {
    color: black;
    text-decoration: none;
}

::selection {
    background-color: brown;
    /* Background color when text is selected */
    color: white;
    text-shadow: -1px 1px 2px #000000d7;
    /* Text color when selected */
}
@media (max-width: 499px) {
    body{background-color: #fff;}
}
@media (max-width: 1024px) {
    *{
        letter-spacing:normal;
        word-spacing: -1.7px;
        line-height: 150%;
    }
}